<h1>Please enter the amount that you would like change for:</h1>
<form action='/results' method='get'>
  <div class="form-group">
    <label for="totalCash">Total Cash</label>
    <input id="totalCash" name="totalCash" class="form-control" type="text">
</div>
  <button type="submit" class="btn">Show me the money!</button>
</form>
